/* Navbar */

.navbar {
    text-align: center;
}

.navbar--item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.navbar--item:hover::after {
    visibility: visible;
    opacity: 1;
}

#link,
#link1,
#link2,
#link3,
#link4,
#link5 {
    text-decoration: none;
    color: white;
}

#link:hover,
#link1:hover,
#link2:hover,
#link3:hover,
#link4:hover,
#link5:hover {
    cursor: pointer;
    color: pink;
}